# Conditional Statements

## 1) if statements

In [1]:
'''

if (condition):
	----------
	----------
 
****************************
if (condition):
	----------
	----------
else:
	----------
	----------
 
*****************************
if (condition):
	----------
	----------
elif (condition):
	-----------
	-----------
else:
	----------
	----------

'''
print()

## 2) match case

In [1]:
'''

match(expr):
	case choice_label_1:
		---------
		---------
	case choice_label_n:
		---------
		---------
	case _: ---------> optional bus must be written as the last case else we get SyntaxError
		---------
		---------
  
*******************************

match(expr):
	case option1 | option2.... | option-n:
		---------
		---------

'''
print()

# Examples

In [4]:
marks = [float(i) for i in input("Enter your marks for Maths, Pyhsics and Chemistry respectively separated by space: ").split()]

passed = True

for mark in marks:
	if mark < 45:
		passed = False

print('Passed' if passed else 'Failed')

Enter your marks for Maths, Pyhsics and Chemistry respectively separated by space:  10 30 50

Failed